*{
    margin: 0;
    padding: 0;
    background: black;
}

.texto{
    color: white;
}

.home{
    display: flex;
}

.cuerpo{
    text-align: center;
    margin: 0 auto;
}

.a{
    font-size: 10;
    text-decoration: none;
    color: white;
    font-size: 230%;
    text-align: center;
}
